<h1>Login!</h1>
<%= form_for @user, url: sessions_path do |f| %>
  <div class="">
    <%= f.text_field :username %>
  </div>

  <div class="">
    <%= f.password_field :password %>
  </div>

  <div class=" ">
    <%= f.submit "Log in" %>
  </div>
<% end %>
